@using System;

@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .rss-item img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    td img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    .centre{
    display: block;
    margin: auto 10px;
    }
</style>
<div class="d-flex">
    <div class="row">
        <div class="col-md-9">
        <h3>Новые поступления:</h3>
            <table class="table table-striped" id="tableb">
                <thead>
                    <tr>
                        <th>Изображение</th>
                        <th>Название книги</th>
                        <th>Автор</th>
                        <th>Количество</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.Books)
                    {
                    <tr>
                        <td><img src="@i.BookPicture" /></td>
                        <td>
                            <a href="@(Url.Action("Book","Catalog", new {id=i.Id }))">@i.Name</a>
                        </td>
                        <td>@i.Author</td>
                        <td>@i.Count</td>
                    </tr>
                    }
                </tbody>
            </table>
            <h3>Новости:</h3>
            <div id="rss-feeds"></div>
        </div>
        <div class="col-md-3">
        <h3>Информация о работе:</h3>
            <table class="table table-striped " id="tableb">
                <thead>
                    <tr>
                        <th>День недели</th>
                        <th>Время работы</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.Works)
                    {
                        <tr>
                            <td>@i.Key</td>
                            <td>
                                @i.Value
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-rss/jquery.rss.min.js"></script>
<script>
    $("#rss-feeds").rss("https://www.polessu.by/taxonomy/term/11/feed", {
        limit: 10,
        layoutTemplate: "<div class='rss-container'>{entries}</div>",
        entryTemplate: `<div class='rss-item card mb-2'>
        <div class="d-flex">
            <img src="{teaserImageUrl}" />
            <a href={url} class="centre">{title}</a>
        </div>
        [{author} {date}]
            <br/>
            {shortBodyPlain}
        </div>`,
    });
</script>
